@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font: normal 1.2rem Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(90deg,rgba(94, 60, 243, 1) 30%, rgba(86, 147, 252, 1) 100%);
    padding: 40px 20px;
    margin: auto;
    text-align: center;
    color: white;
}

header h1{
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.445);
    padding: 20px;
}

header nav > a{
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    margin: 0px 24px;
    font-weight: bold;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}

header nav a:hover{
    color: #0004fa;
    text-decoration: underline;
    background-color: #02b1cf;
    border-radius: 5px;
    text-shadow: none;
}

section{
    padding: 20px;
    margin: auto;
    text-align: center;
    line-height: 12px;
}

section h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color:  #642cff;
    padding: 12px;
}

section h3 {
    font-weight: bold;
    padding: 6px;
}

.botao > a {
    color: #642cff;
    text-decoration: none;
    font-weight: bold;
}

.botao{
    padding: 12px;
    margin: 20px 12px;
    background: transparent;
    border: solid 3px #5e3cf3;
    border-radius: 5px 10px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}

a:hover {
    color: #0004fa;
}

.botao:hover{
    background-color: #02b0cf93;
    text-shadow: none;
    border: solid 3px #0004fa;
    transform: translateY(-2px);
    transition: all 0.2s;
}

#servicos {
    background-color: #ecedf8;
    border: 3px solid #1a589e;
    margin: 0rem 1rem;
    padding: 0px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#servicos h2 {
    background-color: #5e3cf3;
    padding: 24px 12px;
    border-radius: 15px 15px 0px 0px;
    color: white;
}

.card{
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    align-content: center;
    align-items: center;
    padding: 20px 10px;
    margin: 20px 20px 10px 20px;
    color: #5e3cf3;
    border-radius: 10px;
}

.card:hover{
    color: #0004fa;
    background-color: #02b0cf93;
    text-shadow: none;
}


footer {
    background-color: #432caa;
    color: white;
    text-align: center;
    padding: 24px;
}